.nav-tittle {
    text-align: center;
    font-weight:bold ;
    background-color: cadetblue;
    color: antiquewhite;
    width: 100%;
    top: 0;
}
.nav-element{
    padding: 5%;
    width: 20px;
    height: 20px;
    color: aliceblue;
}

.footer-tittle{
    text-align: center;
    position: absolute;
    background-color: cadetblue;
    color: antiquewhite;
    bottom: 0;
    width: 100%;
    display: ruby;
    }

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 100vw;
}

.vaca-tittle{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}